BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach

SortIncludes: CaseSensitive
IncludeBlocks: Preserve

PointerAlignment: Left
ReferenceAlignment: Left

EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never
KeepEmptyLinesAtTheStartOfBlocks: false

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
