# Build
build*/
compile_commands.json

.clangd/
.cache/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
CTestTestfile.cmake
_deps

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Compiled
*.o
*.a
*.so
*.d

# OS
.DS_Store
Thumbs.db

# Project
*.log
